.illustration {
	background-image: url("../../static/images/why-us.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

@media (max-width: 992px) {
	.img {
		min-height: 400px;
	}
}

@media (max-width: 575px) {
	.img {
		min-height: 200px;
	}
}

#accordionListSpan {
	color: #47b2e4;
	font-weight: 600;
	font-size: 18px;
	padding-right: 10px;
}
