.job {
	height: 90vh;
	bottom: 0;
	position: absolute;
	overflow-x: hidden;
	width: 100%;
}

.row-job {
	width: 80vw;
	margin: auto !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list-box {
	padding: 5px 0px 4px 20px;
	border-radius: 45px 0 0 45px;
	background-color: #e9f6ff;
	margin-bottom: 10px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.list-box h3 {
	font-size: 1.3rem;
	color: #280274;
}

.list-box h4 {
	font-size: 0.9rem;
	color: #292929;
}

.list-box .desg-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.desg-box p {
	font-size: 0.7rem;
	text-align: center;
	margin: 0.5rem;
}
.job-list {
	height: 76vh;
	margin-bottom: 20px;
	overflow: auto;
	overflow-x: hidden;
	width: 41%;
}

.job-page-header {
	width: 80vw;
	margin: auto !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.job-details {
	height: 76vh;
	width: 58%;
	border: 1px solid #333333;
	margin-bottom: 20px;
	padding: 20px;
	overflow: auto;
	overflow-x: hidden;
	background-color: #ffffff;
}

.job-details h2 {
	font-size: 2rem;
	font-weight: bolder;
	color: #373a3b;
}

.job-details .job-action h4 {
	font-size: 1.3rem;
	font-weight: 400;
	color: #aaa;
}

.job-details .job-details-header .close-details {
	display: none;
}

.job-details .job-action p {
	font-size: 0.9rem;
	font-weight: 400;
	color: #020020;
}
.skill-badge {
	margin-left: 3px;
}
.job-curved {
	position: absolute;
	z-index: -2;
}
.apply-btn-icon {
	margin-right: 5px;
}

.apply-btn {
	display: flex !important;
	align-items: center !important;
}

@media screen and (max-width: 700px) {
	.job-details {
		display: none;
	}

	.row-job {
		width: 100%;
	}

	.list-box {
		border-radius: 7px;
	}

	.job-list {
		padding: 0 5px;
		width: 100%;
		height: 75vh;
	}

	.job-details.active {
		position: fixed;
		display: block;
		width: 100%;
		z-index: 100;
		height: 90vh;
	}

	.job-details .job-details-header .close-details {
		display: block;
	}

	.row > * {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
